In [328]:
# Pandas Functions

In [329]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [330]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [331]:
# Importing libraries
import pandas as pd
import yfinance as yf

In [332]:
#  Download daily data for Ethereum
df1= yf.download("ETH-USD", interval ="1d", start ="2015-01-01", end = "2021-07-01")
df1

[*********************100%***********************]  1 of 1 completed

                   Open         High  ...    Adj Close       Volume
Date                                  ...
2015-08-07     2.831620     3.536610  ...     2.772120       164329
2015-08-08     2.793760     2.798810  ...     0.753325       674188
2015-08-09     0.706136     0.879810  ...     0.701897       532170
2015-08-10     0.713989     0.729854  ...     0.708448       405283
2015-08-11     0.708087     1.131410  ...     1.067860      1463100
...                 ...          ...  ...          ...          ...
2021-06-27  1830.996948  1979.958130  ...  1978.894653  19885474742
2021-06-28  1981.386475  2139.805420  ...  2079.657471  25514602841
2021-06-29  2083.448730  2242.238770  ...  2160.768311  24815124419
2021-06-30  2164.216309  2282.989014  ...  2274.547607  25828056268
2021-07-01  2265.371582  2265.411133  ...  2120.884033  30867963904

[2152 rows x 6 columns]

In [333]:
df1.head()

                Open      High       Low     Close  Adj Close   Volume
Date
2015-08-07  2.831620  3.536610  2.521120  2.772120   2.772120   164329
2015-08-08  2.793760  2.798810  0.714725  0.753325   0.753325   674188
2015-08-09  0.706136  0.879810  0.629191  0.701897   0.701897   532170
2015-08-10  0.713989  0.729854  0.636546  0.708448   0.708448   405283
2015-08-11  0.708087  1.131410  0.663235  1.067860   1.067860  1463100

In [334]:
# Download daily data for Bitcoin
df2= yf.download("BTC-USD", interval ="1d", start="2015-08-07", end ="2021-07-01")
df2

[*********************100%***********************]  1 of 1 completed

                    Open          High  ...     Adj Close       Volume
Date                                    ...
2015-08-07    278.740997    280.391998  ...    279.584991     42484800
2015-08-08    279.742004    279.928009  ...    260.997009     58533000
2015-08-09    261.115997    267.002991  ...    265.083008     23789600
2015-08-10    265.477997    267.032013  ...    264.470001     20979400
2015-08-11    264.342010    270.385986  ...    270.385986     25433900
...                  ...           ...  ...           ...          ...
2021-06-27  32287.523438  34656.128906  ...  34649.644531  35511640894
2021-06-28  34679.121094  35219.890625  ...  34434.335938  33892523752
2021-06-29  34475.558594  36542.109375  ...  35867.777344  37901460044
2021-06-30  35908.386719  36074.757812  ...  35040.835938  34059036099
2021-07-01  34971.144531  34974.652344  ...  33317.351562  39164370944

[2152 rows x 6 columns]

In [335]:
# To get the number of rows
df1.count()

Open         2152
High         2152
Low          2152
Close        2152
Adj Close    2152
Volume       2152
dtype: int64

In [336]:
df2.count()

Open         2152
High         2152
Low          2152
Close        2152
Adj Close    2152
Volume       2152
dtype: int64

In [337]:
# pd.concat(objs,axis=0,join="outer",ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True,)

In [338]:
# Joining two datasets using outer join, union of both dataframes, adding along columns, axis=1
df3 = [ df1, df2 ]
df4 = pd.concat(df3,axis=1,join="outer",ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True )

In [339]:
# Prnting Dataframe.
df4

                   Open         High  ...     Adj Close       Volume
Date                                  ...
2015-08-07     2.831620     3.536610  ...    279.584991     42484800
2015-08-08     2.793760     2.798810  ...    260.997009     58533000
2015-08-09     0.706136     0.879810  ...    265.083008     23789600
2015-08-10     0.713989     0.729854  ...    264.470001     20979400
2015-08-11     0.708087     1.131410  ...    270.385986     25433900
...                 ...          ...  ...           ...          ...
2021-06-27  1830.996948  1979.958130  ...  34649.644531  35511640894
2021-06-28  1981.386475  2139.805420  ...  34434.335938  33892523752
2021-06-29  2083.448730  2242.238770  ...  35867.777344  37901460044
2021-06-30  2164.216309  2282.989014  ...  35040.835938  34059036099
2021-07-01  2265.371582  2265.411133  ...  33317.351562  39164370944

[2152 rows x 12 columns]

In [340]:
# Renaming columns 
df4.columns = ['Open_Bcoin', 'High_Bcoin', 'Low_Bcoin', 'Close_Bcoin', 'Adj Close_Bcoin', 'Volume_Bcoin', 'Open_Eth','High_Eth', 'Low_Eth','Close_Eth', 'Adj Close_ETh', 'Volume_Eth']

In [341]:
# Joining of two datasets using Inner join, i.e intersection of both datasets, adding at the end , axis=0
## Joining two datasets
df5 = [ df1, df2 ]
df7 = pd.concat(df5,axis=0,join="inner",ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True )

In [342]:
df7

                    Open          High  ...     Adj Close       Volume
Date                                    ...
2015-08-07      2.831620      3.536610  ...      2.772120       164329
2015-08-08      2.793760      2.798810  ...      0.753325       674188
2015-08-09      0.706136      0.879810  ...      0.701897       532170
2015-08-10      0.713989      0.729854  ...      0.708448       405283
2015-08-11      0.708087      1.131410  ...      1.067860      1463100
...                  ...           ...  ...           ...          ...
2021-06-27  32287.523438  34656.128906  ...  34649.644531  35511640894
2021-06-28  34679.121094  35219.890625  ...  34434.335938  33892523752
2021-06-29  34475.558594  36542.109375  ...  35867.777344  37901460044
2021-06-30  35908.386719  36074.757812  ...  35040.835938  34059036099
2021-07-01  34971.144531  34974.652344  ...  33317.351562  39164370944

[4304 rows x 6 columns]

In [343]:
# To get the shape of the dataframe
df6.shape

(2152, 14)

In [344]:
# To get the shape of the dataframe
df7.shape

(4304, 6)

In [345]:
# To get the column names
df6.columns

Index(['Open_Bcoin', 'High_Bcoin', 'Low_Bcoin', 'Close_Bcoin',
       'Adj Close_Bcoin', 'Volume_Bcoin', 'Open_Eth', 'High_Eth', 'Low_Eth',
       'Close_Eth', 'Adj Close_ETh', 'Volume_Eth', 'Pivot_Bcoin', 'Pivot_Eth'],
      dtype='object')

In [346]:
# Tp get the number of values for each feature
df6.count()

Open_Bcoin         2152
High_Bcoin         2152
Low_Bcoin          2152
Close_Bcoin        2152
Adj Close_Bcoin    2152
Volume_Bcoin       2152
Open_Eth           2152
High_Eth           2152
Low_Eth            2152
Close_Eth          2152
Adj Close_ETh      2152
Volume_Eth         2152
Pivot_Bcoin        2152
Pivot_Eth          2152
dtype: int64

In [347]:
# To get the descriptive statistics like mean, median, mode, 25% Quartile, 50% Quartile, 75% Quartile, Min and Max values
df6.describe()

        Open_Bcoin   High_Bcoin  ...  Pivot_Bcoin     Pivot_Eth
count  2152.000000  2152.000000  ...  2152.000000   2152.000000
mean    378.588694   393.787938  ...   377.926199   9059.654771
std     594.402066   622.583523  ...   592.270214  12389.527337
min       0.431589     0.482988  ...     0.445158    211.985331
25%      13.677825    14.108875  ...    13.622742    967.248154
50%     197.593002   204.397499  ...   198.574664   6478.819987
75%     385.561897   395.215538  ...   384.693499   9705.075928
max    4174.635742  4362.350586  ...  4107.611654  63313.882812

[8 rows x 14 columns]

In [348]:
# To get the top 5 rows
df6[0:5]

            Open_Bcoin  High_Bcoin  ...  Pivot_Bcoin   Pivot_Eth
Date                                ...
2015-08-07    2.831620    3.536610  ...     2.963117  278.499664
2015-08-08    2.793760    2.798810  ...     2.102432  273.460002
2015-08-09    0.706136    0.879810  ...     0.738379  262.862325
2015-08-10    0.713989    0.729854  ...     0.693463  265.035339
2015-08-11    0.708087    1.131410  ...     0.834244  266.273997

[5 rows x 14 columns]

In [349]:
# To get the last 8 rows
df6[len(df6)-8: ]

             Open_Bcoin   High_Bcoin  ...  Pivot_Bcoin     Pivot_Eth
Date                                  ...
2021-06-24  1968.957397  2032.339355  ...  1962.909587  33765.622396
2021-06-25  1989.215820  2017.759521  ...  1933.791911  33832.412109
2021-06-26  1810.884277  1850.179810  ...  1793.541178  31472.251302
2021-06-27  1830.996948  1979.958130  ...  1874.066976  33005.136719
2021-06-28  1981.386475  2139.805420  ...  2028.269124  34600.361979
2021-06-29  2083.448730  2242.238770  ...  2133.975911  35090.050781
2021-06-30  2164.216309  2282.989014  ...  2179.322021  35356.432292
2021-07-01  2265.371582  2265.411133  ...  2204.785156  34358.608073

[8 rows x 14 columns]

In [350]:
# To get the values of a particluar columns
df6["Open_Bcoin"].head()

Date
2015-08-07    2.831620
2015-08-08    2.793760
2015-08-09    0.706136
2015-08-10    0.713989
2015-08-11    0.708087
Name: Open_Bcoin, dtype: float64

In [351]:
# To get the shape of the column
df6["Open_Bcoin"].shape

(2152,)

In [352]:
# To get the column values from 165 to 172 th row of a feature 
(df6["Open_Bcoin"][164:172])

Date
2016-01-18    1.33231
2016-01-19    1.42261
2016-01-20    1.36318
2016-01-21    1.53270
2016-01-22    1.54703
2016-01-23    1.50412
2016-01-24    1.90054
2016-01-25    2.14764
Name: Open_Bcoin, dtype: float64

In [353]:
# By using iloc function, we get the values form 12 to 15 rows and 6 & 7 columns
df6.iloc[11:15,5:7]

            Volume_Bcoin    Open_Eth
Date
2015-08-18       1485680  257.925995
2015-08-19       1486240  225.671005
2015-08-20       2843760  226.899002
2015-08-21       2020970  235.354996

In [354]:
# To check the values of two columns using operators, to compare values between two columns ( Ethereum and Bitcoin). Bitcoin always
#greater , so False
df1["Open"] > df2["Open"]

Date
2015-08-07    False
2015-08-08    False
2015-08-09    False
2015-08-10    False
2015-08-11    False
              ...
2021-06-27    False
2021-06-28    False
2021-06-29    False
2021-06-30    False
2021-07-01    False
Name: Open, Length: 2152, dtype: bool

In [355]:
#  To check null values in a datframe , True means null, false menas not null
df6.isna()

            Open_Bcoin  High_Bcoin  ...  Pivot_Bcoin  Pivot_Eth
Date                                ...
2015-08-07       False       False  ...        False      False
2015-08-08       False       False  ...        False      False
2015-08-09       False       False  ...        False      False
2015-08-10       False       False  ...        False      False
2015-08-11       False       False  ...        False      False
...                ...         ...  ...          ...        ...
2021-06-27       False       False  ...        False      False
2021-06-28       False       False  ...        False      False
2021-06-29       False       False  ...        False      False
2021-06-30       False       False  ...        False      False
2021-07-01       False       False  ...        False      False

[2152 rows x 14 columns]

In [356]:
# To get the count of null values in a Dataframe in a column 
df6.isnull().sum()

Open_Bcoin         0
High_Bcoin         0
Low_Bcoin          0
Close_Bcoin        0
Adj Close_Bcoin    0
Volume_Bcoin       0
Open_Eth           0
High_Eth           0
Low_Eth            0
Close_Eth          0
Adj Close_ETh      0
Volume_Eth         0
Pivot_Bcoin        0
Pivot_Eth          0
dtype: int64

In [357]:
# To get the count of null values in a row
df6.isnull().sum(axis=1)

Date
2015-08-07    0
2015-08-08    0
2015-08-09    0
2015-08-10    0
2015-08-11    0
             ..
2021-06-27    0
2021-06-28    0
2021-06-29    0
2021-06-30    0
2021-07-01    0
Length: 2152, dtype: int64

In [358]:
 class_23 = df6[df6["Open_Bcoin"].isin([2, 3])]

In [359]:
# To get the names of columns in a Dataframe 
df1.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [360]:
# To fill values using  Back fill for null values, along columns values
df6= df6.fillna(method="bfill")

In [361]:
# To fill values using Forward fill  for filling null values, along column values
df6= df6.fillna(method="ffill")

In [362]:
# To find the datatype of the dataframe
print(type(df6))

<class 'pandas.core.frame.DataFrame'>

In [363]:
# To chekc the datatype of the Column
print(type(df6["Open_Bcoin"]))

<class 'pandas.core.series.Series'>

In [364]:
# merging two dataframes inner, intersection
df8= pd.merge(df1,df2,how="inner",on=None,left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=("_x", "_y"),copy=True, indicator=False,
    validate=None,)

In [365]:
df8

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [366]:
# merging two dataframes, union of two dataframe
df9= pd.merge(df1,df2,how="outer",on=None,left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=("_x", "_y"),copy=True, indicator=False,
    validate=None,)

In [367]:
df9

              Open          High  ...     Adj Close       Volume
0         0.431589      0.482988  ...      0.447329       609085
1         0.444988      0.619466  ...      0.567702       924822
2         0.489629      0.501898  ...      0.434829       383921
3         0.517621      0.521546  ...      0.489014       243742
4         0.523278      0.572714  ...      0.561878       371022
...            ...           ...  ...           ...          ...
4299  61221.132812  61597.917969  ...  59302.316406  43901225564
4300  61529.921875  62572.175781  ...  60683.820312  66138759198
4301  63075.195312  63821.671875  ...  63314.011719  60954381579
4302  63258.503906  63594.722656  ...  61572.789062  84293007468
4303  63523.753906  64863.097656  ...  63109.695312  77451779687

[4304 rows x 6 columns]

In [368]:
# Groupby function
df6.groupby("Open_Bcoin").count()

             High_Bcoin  Low_Bcoin  ...  Pivot_Bcoin  Pivot_Eth
Open_Bcoin                          ...
0.431589              1          1  ...            1          1
0.444988              1          1  ...            1          1
0.489629              1          1  ...            1          1
0.517621              1          1  ...            1          1
0.523278              1          1  ...            1          1
...                 ...        ...  ...          ...        ...
3911.463135           1          1  ...            1          1
3924.413330           1          1  ...            1          1
3948.271973           1          1  ...            1          1
4075.951660           1          1  ...            1          1
4174.635742           1          1  ...            1          1

[2151 rows x 13 columns]

In [369]:
# TO get the datatypes of all columns
df6.dtypes

Open_Bcoin         float64
High_Bcoin         float64
Low_Bcoin          float64
Close_Bcoin        float64
Adj Close_Bcoin    float64
Volume_Bcoin         int64
Open_Eth           float64
High_Eth           float64
Low_Eth            float64
Close_Eth          float64
Adj Close_ETh      float64
Volume_Eth           int64
Pivot_Bcoin        float64
Pivot_Eth          float64
dtype: object

In [370]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2152 entries, 2015-08-07 to 2021-07-01
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Open_Bcoin       2152 non-null   float64
 1   High_Bcoin       2152 non-null   float64
 2   Low_Bcoin        2152 non-null   float64
 3   Close_Bcoin      2152 non-null   float64
 4   Adj Close_Bcoin  2152 non-null   float64
 5   Volume_Bcoin     2152 non-null   int64
 6   Open_Eth         2152 non-null   float64
 7   High_Eth         2152 non-null   float64
 8   Low_Eth          2152 non-null   float64
 9   Close_Eth        2152 non-null   float64
 10  Adj Close_ETh    2152 non-null   float64
 11  Volume_Eth       2152 non-null   int64
 12  Pivot_Bcoin      2152 non-null   float64
 13  Pivot_Eth        2152 non-null   float64
dtypes: float64(12), int64(2)
memory usage: 252.2 KB

In [371]:
# Groupby two columns
l = df6.groupby(['Open_Bcoin', 'High_Bcoin'])
l

In [372]:
# Groupby by column
k = df6.groupby("Open_Bcoin")
k

In [373]:
# Finding duplictae columns
duplicate = df6[df6.duplicated()]
duplicate

Empty DataFrame
Columns: [Open_Bcoin, High_Bcoin, Low_Bcoin, Close_Bcoin, Adj Close_Bcoin, Volume_Bcoin, Open_Eth, High_Eth, Low_Eth, Close_Eth, Adj Close_ETh, Volume_Eth, Pivot_Bcoin, Pivot_Eth]
Index: []

In [374]:
# To add extra column, pivot value 
df6["Pivot_Bcoin"] = (df6["Open_Bcoin"]+df6["High_Bcoin"]+df6["Low_Bcoin"])/3
df6["Pivot_Eth"] =  (df6["Open_Eth"]+df6["High_Eth"]+df6["Low_Eth"])/3

In [375]:
df6

             Open_Bcoin   High_Bcoin  ...  Pivot_Bcoin     Pivot_Eth
Date                                  ...
2015-08-07     2.831620     3.536610  ...     2.963117    278.499664
2015-08-08     2.793760     2.798810  ...     2.102432    273.460002
2015-08-09     0.706136     0.879810  ...     0.738379    262.862325
2015-08-10     0.713989     0.729854  ...     0.693463    265.035339
2015-08-11     0.708087     1.131410  ...     0.834244    266.273997
...                 ...          ...  ...          ...           ...
2021-06-27  1830.996948  1979.958130  ...  1874.066976  33005.136719
2021-06-28  1981.386475  2139.805420  ...  2028.269124  34600.361979
2021-06-29  2083.448730  2242.238770  ...  2133.975911  35090.050781
2021-06-30  2164.216309  2282.989014  ...  2179.322021  35356.432292
2021-07-01  2265.371582  2265.411133  ...  2204.785156  34358.608073

[2152 rows x 14 columns]