In [ ]:
# Pandas Functions

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [ ]:
# Importing libraries
import pandas as pd
import yfinance as yf

In [ ]:
#  Download daily data for Ethereum
df1= yf.download("ETH-USD", interval ="1d", start ="2015-01-01", end = "2021-07-01")
df1

[*********************100%***********************]  1 of 1 completed

                   Open         High  ...    Adj Close       Volume
Date                                  ...
2015-08-07     2.831620     3.536610  ...     2.772120       164329
2015-08-08     2.793760     2.798810  ...     0.753325       674188
2015-08-09     0.706136     0.879810  ...     0.701897       532170
2015-08-10     0.713989     0.729854  ...     0.708448       405283
2015-08-11     0.708087     1.131410  ...     1.067860      1463100
...                 ...          ...  ...          ...          ...
2021-06-27  1830.996948  1979.958130  ...  1978.894653  19885474742
2021-06-28  1981.386475  2139.805420  ...  2079.657471  25514602841
2021-06-29  2083.448730  2242.238770  ...  2160.768311  24815124419
2021-06-30  2164.216309  2282.989014  ...  2274.547607  25828056268
2021-07-01  2265.371582  2265.411133  ...  2095.225098  31536752640

[2152 rows x 6 columns]

In [ ]:
df1.head()

                Open      High       Low     Close  Adj Close   Volume
Date
2015-08-07  2.831620  3.536610  2.521120  2.772120   2.772120   164329
2015-08-08  2.793760  2.798810  0.714725  0.753325   0.753325   674188
2015-08-09  0.706136  0.879810  0.629191  0.701897   0.701897   532170
2015-08-10  0.713989  0.729854  0.636546  0.708448   0.708448   405283
2015-08-11  0.708087  1.131410  0.663235  1.067860   1.067860  1463100

In [ ]:
# Download daily data for Bitcoin
df2= yf.download("BTC-USD", interval ="1d", start="2015-08-07", end ="2021-07-01")
df2

[*********************100%***********************]  1 of 1 completed

                    Open          High  ...     Adj Close       Volume
Date                                    ...
2015-08-07    278.740997    280.391998  ...    279.584991     42484800
2015-08-08    279.742004    279.928009  ...    260.997009     58533000
2015-08-09    261.115997    267.002991  ...    265.083008     23789600
2015-08-10    265.477997    267.032013  ...    264.470001     20979400
2015-08-11    264.342010    270.385986  ...    270.385986     25433900
...                  ...           ...  ...           ...          ...
2021-06-27  32287.523438  34656.128906  ...  34649.644531  35511640894
2021-06-28  34679.121094  35219.890625  ...  34434.335938  33892523752
2021-06-29  34475.558594  36542.109375  ...  35867.777344  37901460044
2021-06-30  35908.386719  36074.757812  ...  35040.835938  34059036099
2021-07-01  34971.144531  34974.652344  ...  33248.593750  39224451072

[2152 rows x 6 columns]

In [ ]:
# Pandas function on two dataframes
# Number of rows = 2152, number of columns = 6 for BTCUSD and Ethereum datasets

In [ ]:
df1.count()

Open         2152
High         2152
Low          2152
Close        2152
Adj Close    2152
Volume       2152
dtype: int64

In [ ]:
df2.count()

Open         2152
High         2152
Low          2152
Close        2152
Adj Close    2152
Volume       2152
dtype: int64

In [ ]:
# pd.concat(objs,axis=0,join="outer",ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True,)

In [ ]:
# Joining two datasets
df3= pd.DataFrame(df1)
df4= pd.DataFrame(df2)
df5 = [ df1, df2 ]
df6 = pd.concat(df5,axis=1,join="outer",ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True )

In [ ]:
df6

                   Open         High  ...     Adj Close       Volume
Date                                  ...
2015-08-07     2.831620     3.536610  ...    279.584991     42484800
2015-08-08     2.793760     2.798810  ...    260.997009     58533000
2015-08-09     0.706136     0.879810  ...    265.083008     23789600
2015-08-10     0.713989     0.729854  ...    264.470001     20979400
2015-08-11     0.708087     1.131410  ...    270.385986     25433900
...                 ...          ...  ...           ...          ...
2021-06-27  1830.996948  1979.958130  ...  34649.644531  35511640894
2021-06-28  1981.386475  2139.805420  ...  34434.335938  33892523752
2021-06-29  2083.448730  2242.238770  ...  35867.777344  37901460044
2021-06-30  2164.216309  2282.989014  ...  35040.835938  34059036099
2021-07-01  2265.371582  2265.411133  ...  33248.593750  39224451072

[2152 rows x 12 columns]